<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Weather</h1>
    <h2 id="h2">...</h2>
    <h1>Weather</h1>
    <h2 id="sun">...</h2>
    <script>

    const apiKey = '13ff7bfe5ddccd17d8b87e4e38d38bcb'
    const lat = '59.8944';
    const lon = '30.2642';

    fetch('https://api.openweathermap.org/data/2.5/onecall?lat='+lat+'&lon='+lon+'&exclude=hourly,minutely&appid='+apiKey)
        .then(response => response.json())
        .then(data => {
            let dailyData = data.daily;
            let dateTemp = '';
            let minTemp = 1000;
            let dateSun = '';
            let maxSun = 0;
            console.log('dailyData: ', dailyData);
            for(let i=0; i<dailyData.length; i++) {
                //task 3a-1
                let differenceTemp = Math.abs(Math.abs((dailyData[i].temp.night-273.15)) - Math.abs((dailyData[i].feels_like.night-273.15)));
                if (differenceTemp < minTemp) {
                    minTemp = differenceTemp;
                    dateTemp = convertTimestamp(dailyData[i].dt);
                }   
                //task 3a-2
                if(i<5){
                    let differenceSun = dailyData[i].sunset - dailyData[i].sunrise;
            
                    if(differenceSun > maxSun) {
                        maxSun = differenceSun;
                        dateSun = convertTimestamp(dailyData[i].dt);  
                    }
                }   
            }
            document.getElementById('h2').innerHTML='Наименьшая разница между ощущаемой и фактической температурой ожидается '+ dateTemp +', она составит '+ minTemp +'&#176'+'C';
            document.getElementById('sun').innerHTML='Наибольшая продолжительность светового дня ожидается '+ dateSun;
        });

    function convertTimestamp(timestamp) {
    let d = new Date(timestamp * 1000), // Convert the passed timestamp to milliseconds
        yyyy = d.getFullYear(),
        mm = ('0' + (d.getMonth() + 1)).slice(-2),  // Months are zero based. Add leading 0.
        dd = ('0' + d.getDate()).slice(-2);        // Add leading 0.
  
    time = dd + '-' + mm + '-' + yyyy;
    return time;
    }

    </script>
</body>
</html>